* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background: #f5f5f5;
    /* background: #fff; */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.logo a{
    font-size: 24px;
    font-weight: 700;
    color: #3c1aff;
}
.logo a span {
    color: #ff523b;
}


.nav-menu  {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 25px;
}
.nav-menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
}
.nav-menu a:hover {
    color: #ff523b;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-icons a {
    color: #333;
    font-size: 18px;
    transition: color 0.3s;
    margin: 0 8px;
}
.nav-icons a:hover {
    color: #ff523b;
}

.auth-btn a {
    padding: 8px 15px;
    border: 1px solid #ff523b;
    border-radius: 20px;
    color: #ff523b;
    font-size: 14px;
    transition: all 0.3s;
}
.auth-btn a:hover {
    background: #ff523b;
    color: #fff;
}
.btn {
    padding: 15px;
    width: 120px;
    border: none;
    color: #fff !important;
    background-color: #3c1aff;
    font-size: 14px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 30px;
}
.btn:hover {
    background: #000;
    color: #fff;
}
.mobile-menu {
    display: none;
    flex-direction: column;
    background: #757575;
    padding: 15px;
}
.mobile-menu a {
    padding: 10px ;
    border-bottom: none;
    color: #333;
}
.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
    }
    .mobile-menu.active {
        display: flex;
    }
    .right-section {
        display: none;
    }
    .hamburger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    
}
